@font-face {
    font-family: "lobster";
    src: url("asset/font/Pacifico-Regular.ttf");
}
.text-new{
    font-family: 'lobster' ;
}
.home-img{
    background-image: url("./asset/images/model.jpg");
    height: 100vh;
    width: 100vw;
    /* clip-path: polygon(0 0,100% 0, 100% 100%,80% 80% ,0 100%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-text{
    width: 70vw;
    display: flex;
    justify-content: flex-end;
}
.img-card{
    height: 30vh;
    width: 30vw;
}
.slider{
    background-image: url("./asset/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mylink{
    text-decoration: none;
}
@media(max-width:900px){
    .home-text{
       height: 100vh;
       align-items: flex-end;
    }
    .home-img{
        clip-path: polygon(0 0,100% 0, 100% 100%,100% 100% ,0 100%);
    }
}
@media(max-width:600px){
    .home-text{
        height: 100vh;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .home-img{
        clip-path: polygon(0 0,100% 0, 100% 100%,100% 100% ,0 100%);
    }
}